%p{:style=>'border: 1px solid red; width: 300px; padding: 0.5em; margin-bottom: 1em'}
  Note: Message sending is still experimental and few options are working.
  Be sure to follow up any messages you send with this system, and do not
  assume that they are being delivered reliably (yet).
= fields_for :record do |form|
  #msg-form
    #top
      %table{:style=>'width: 300px'}
        %tr
          %td.for-sms
            = form.label :sms_only, "SMS Text Message"
            %br
            = form.text_area :sms_only, :size => "40x2", :value=>"(from #{@current_user.name})"
        %tr
          %td.for-email
            = form.label :subject, "Subject (for email only)"
            %br
            = form.text_field :subject
        %tr
          %td
            = form.label :body, "Email Message (or \"More Information\" for SMS)", :id => 'body-label'
            %br
            = form.text_area :body, :size => "40x4", :value=>"(from #{@current_user.name})"
        %tr
          %td
            %table
              %tr
                %td
                  = form.label :send_email, "Send email"
                  %br
                  = form.check_box :send_email         
                %td
                  = form.label  :send_sms, "Send SMS"
                  %br
                  = form.check_box  :send_sms         
                %td 
                  = form.label :retries, :class=>'for-sms'
                  %br
                  = form.select :retries, [['none', 0], ['1',1], ['2',2], ['3',3]], {}, :class=>'for-sms'
    #bottom
      %table{:style=>'width: 300px'}
        %tr
          %td
            = form.label :to_groups, "Destination groups"
            %br
            = form.select :to_groups, Group.order('group_name').collect {|x| [x.group_name, x.id]}, {}, :multiple => true, :size=>15          
      #advanced 
        %label#adv-toggle Show advanced options
        #options{:style=>'display: none'}
          %table
            %tr
              %td 
                = form.label :retry_interval, :class=>'for-sms'
                %br
                = form.select :retry_interval, [['5 minutes', 5], ['10 minutes', 10], ['15 minutes', 15], ['30 minutes', 30]], {}, :class=>'for-sms'
            %tr
              %td 
                = form.label :response_time_limit
                %br
                = form.select :response_time_limit, [['no response needed', 0], ['5 minutes', 5], ['10 minutes', 10], ['15 minutes', 15], ['30 minutes', 30], ['1 hour', 60], ['2 hours', 120], ['6 hours', 360], ['12 hours', 720], ['24 hours', 1440]]
            %tr
              %td 
                = form.label :expiration, "Expiration"
                %br
                = form.select :expiration, [['never',0], ['24 hours', 1440] ]
            %tr
              %td 
                = form.label :importance
                %br
                = form.select :importance, [['normal',1], ['alert', 2], ['critical', 3]] 
            %tr
              %td 
                = form.label :confirm_time_limit, "Confirmation time limit"
                %br
                = form.select :confirm_time_limit, [['not needed', 0], ['5 minutes', 5], ['10 minutes', 10], ['15 minutes', 15], ['30 minutes', 30]]


