= fields_for :record do |form|
  %table{:style=>'width: 300px'}
    %tr
      %td
        = form.label :sms_only, "SMS Text Message"
        %br
        = form.text_area :sms_only, :size => "40x2"
    %tr
      %td
        = form.label :subject, "Subject"
        %br
        = form.text_field :subject
    %tr
      %td
        = form.label :body, "Email Message (or \"More Information\" for SMS)", :id => 'body-label'
        %br
        = form.text_area :body, :size => "40x4"
    %tr
      %td
        %table
          %tr
            %td
              = form.label :send_email
              %br
              = form.check_box :send_email         
            %td
              = form.label  :send_sms, "Send SMS"
              %br
              = form.check_box  :send_sms         
            %td
              = form.label  :news_update
              %br
              = form.check_box  :news_update
            %td.not-implemented
              = form.label  :private
              %br
              = form.check_box  :private, :disabled => 'disabled'

