#msg-followup
  %p.msg-caveat.ui-corner-all
    Note: 
    Be sure to follow up any messages you send with this system, and do not
    assume that they are being delivered reliably (yet).
  #msg-form.ui-corner-all
    %p= t '.form_descr_1', :id => @original_msg.id
    %p.msg-quote
      #{to_local_time(@original_msg.created_at)}: #{truncate(@original_msg.body, :length => 200)}
    %p= t '.form_descr_2', :id => @original_msg.id
    #msg-top
      = form_for @record, :url => { :action => "followup_send" } do |f|
        = render :partial => 'text_inputs'
        = submit_tag('Send')
        
