#msg-followup
  %p.msg-caveat.ui-corner-all
    Note: 
    Be sure to follow up any messages you send with this system, and do not
    assume that they are being delivered reliably (yet).
  #msg-form.ui-corner-all
    %p
      This form is for sending a follow-up for message #{@id}:
    %p.msg-quote
      #{to_local_time(@original_msg.created_at)}: #{truncate(@original_msg.body, :length => 200)}
    %p
      This follow-up message will be sent <em>only</em> to people who did not receive (or respond to) 
      the original message #{@id}. You can repeat part of the message and or remind people to
      respond.
    #msg-top
      = form_for @record, :url => { :action => "followup_send" } do |f|
        = render :partial => 'text_inputs'
        = submit_tag('Send')
        
