.active-scaffold.site_settings
  %h2 Site Settings
  = form_tag(update_site_settings_path, :method => :put) do 
    %hr
    %h3 Email
    
    = settings_field(:sendgrid_user_name)
    = settings_field(:sendgrid_password)
    %br
    %h3 SMS Text Messaging
    = settings_field(:default_outgoing_sms_gateway, :label=>'Default Outgoing SMS Gateway')
    %h4 Clickatell 
    = settings_field(:clickatell_user_name)
    = settings_field(:clickatell_password)
    = settings_field(:clickatell_api_id, :label=>'Clickatell API ID')
    %h4 Twilio
    = settings_field(:twilio_account_sid, :label=>'Twilio account SID')
    = settings_field(:twilio_auth_token, :password=>true, :label=>'Twilio authorization token')
    = settings_field(:twilio_api_version, :label=>'Twilio API version')
    = settings_field(:twilio_phone_number)
    = settings_field(:twilio_background)
    %h3 Notifications
    %p 
      Specify who will receive various notifications from this program, and when they will be sent.
      Include email addresses only (no names), separated by commas.
    %h4 Contact Updates
    = settings_field(:contact_update_recipients)
    %hr
    = submit_tag 'Save'

