<script>
$(function() {
$( "#tabs" ).tabs();
});
</script>
<div >
%h2= t('.title') 
%p= t('.be_sure_to_save')
#tabs
  %ul
    %li= link_to t(".site"), "#tabs-site"
    %li= link_to t(".tab-sms"), "#tabs-sms"
    %li= link_to t(".tab-email"), "#tabs-email"
    %li= link_to t(".tab-notifications"), "#tabs-notifications"
    %li= link_to t(".tab-maint"), "#tabs-maint"
    %li= link_to t(".tab-other"), "#tabs-other"
  .active-scaffold.site_settings
    = form_tag(update_site_settings_path, :method => :put) do 
      #tabs-site
        = settings_field(:organization)
        = settings_field(:org_system_name)
        = settings_field(:base_url)
        = settings_field(:message_id_string)
      #tabs-sms
        #sms-default
          = settings_field(:incoming_sms_number)
          = settings_field(:incoming_voice_number)
          %h4=  t('.default_outgoing_sms_gateway')
          = settings_field(:default_outgoing_sms_gateway, :label => '',
          :choices => [['Twilio'], ['Clickatell']])
          %h4=  t('.alternate_outgoing_sms_gateway')
          = settings_field(:alternate_outgoing_sms_gateway, :label => '',
          :choices => [['None', ''], ['Twilio'], ['Clickatell']])
        #sms-service-1
          %h4 Clickatell 
          = settings_field(:clickatell_user_name, :label=> t('.clickatell_user_name'))
          = settings_field(:clickatell_password, :label=> t('.clickatell_password'))
          = settings_field(:clickatell_api_id, :label=>'Clickatell API ID')
        #sms-service-2
          %h4 Twilio
          = settings_field(:twilio_account_sid, :label=> t('.twilio_account_sid'))
          = settings_field(:twilio_auth_token, :password=>true, :label=> t('.twilio_auth_token'))
          = settings_field(:twilio_api_version, :label=> t('.twilio_api_version'))
          = settings_field(:twilio_phone_number, :label => t('.twilio_phone_number'))
          = settings_field(:twilio_background, :label => t('.twilio_background'), :choices=>[[t('None'), ''], ['DelayedJob'], ['IronWorker']])
      #tabs-email
        %p= t('.sendgrid_instructions')
        = settings_field(:base_email_address)
        = settings_field(:sendgrid_user_name, :label=> t('.sendgrid_user_name'))
        = settings_field(:sendgrid_password, :label=> t('.sendgrid_password'))
      #tabs-notifications
        %h4= t('.contact_updates')
        %p= t('.contact_update_instructions') 
        = settings_field(:contact_update_recipients, :label => t('.contact_update_recipients'))
        %br
        = settings_field(:default_news_update_expiration)
      #tabs-maint
        %p= t('.cleanup_instructions')
        %table#cleanup_table
          %tr
            %th= t('Log')
            %th= t('Messages')
            %th= t('Sent_Messages')
          %tr
            %td= t('.log_explanation')
            %td= t('.message_log_explanation')
            %td= t('.sent_message_log_explanation')
          %tr
            %td= settings_field(:log_max_records, :label=> t('.log_max_records'))  
            %td= settings_field(:messages_max_records, :label=> t('.messages_max_records'))
            %td= settings_field(:sent_messages_max_records, :label=> t('.sent_messages_max_records'))
          %tr
            %td= settings_field(:log_retention_period, :label=> t('.log_retention_period'))
            %td= settings_field(:messages_retention_period, :label=> t('.messages_retention_period'))
            %td= settings_field(:sent_messages_retention_period, :label=> t('.sent_messages_retention_period'))
      #tabs-other
        %h4= t('Auto-update')
        %p= t('.auto_update_instructions')
        = settings_field(:auto_update_in_country_status, :label => t('.auto_update_in_country_status'), :choices=> [[t('Yes'), 1], [t('No'), 0]])
        = settings_field(:directory_title)
      %hr
      = submit_tag t('Save')
    
