%h1 Sign In
%p.sign_in_instructions
  = t('.instructions_1')
= link_to t(".connect_facebook"), "/auth/facebook", :id => 'connect_facebook'
%br
%br
= link_to t(".connect_google"), "/auth/google_oauth2", :id => 'connect_google'
%p.sign_in_instructions
  = t('.instructions_2')
%ul
  %li= link_to t('.get_google'), "https://accounts.google.com/SignUp"
  %li= link_to t('.get_facebook'), "http://www.facebook.com/"
%p.sign_in_instructions
  = t('.facebook_disclaimer')

