<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :middle_name %><br />
    <%= f.text_field :middle_name %>
  </div>
  <div class="field">
    <%= f.label :phone_1 %><br />
    <%= f.text_field :phone_1 %>
  </div>
  <div class="field">
    <%= f.label :phone_2 %><br />
    <%= f.text_field :phone_2 %>
  </div>
  <div class="field">
    <%= f.label :email_1 %><br />
    <%= f.text_field :email_1 %>
  </div>
  <div class="field">
    <%= f.label :email_2 %><br />
    <%= f.text_field :email_2 %>
  </div>
  <div class="field">
    <%= f.label :location_id %><br />
    <%= f.number_field :location_id %>
  </div>
  <div class="field">
    <%= f.label :location_detail %><br />
    <%= f.text_field :location_detail %>
  </div>
  <div class="field">
    <%= f.label :arrival_date %><br />
    <%= f.date_select :arrival_date %>
  </div>
  <div class="field">
    <%= f.label :departure_date %><br />
    <%= f.date_select :departure_date %>
  </div>
  <div class="field">
    <%= f.label :receive_sms %><br />
    <%= f.check_box :receive_sms %>
  </div>
  <div class="field">
    <%= f.label :receive_email %><br />
    <%= f.check_box :receive_email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
