= form_for(@person) do |f|
  - if @person.errors.any?
    #error_explanation
      %h2
        = pluralize(@person.errors.count, "error")
        prohibited this person from being saved:
      %ul
        - @person.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :last_name
    %br/
    = f.text_field :last_name
  .field
    = f.label :first_name
    %br/
    = f.text_field :first_name
  .field
    = f.label :middle_name
    %br/
    = f.text_field :middle_name
  .field
    = f.label :phone_1
    %br/
    = f.text_field :phone_1
  .field
    = f.label :phone_2
    %br/
    = f.text_field :phone_2
  .field
    = f.label :email_1
    %br/
    = f.text_field :email_1
  .field
    = f.label :email_2
    %br/
    = f.text_field :email_2
  .field
    = f.label :arrival_date
    %br/
    = f.date_select :arrival_date
  .field
    = f.label :departure_date
    %br/
    = f.date_select :departure_date
  .field
    = f.label :receive_sms
    %br/
    = f.check_box :receive_sms
  .field
    = f.label :receive_email
    %br/
    = f.check_box :receive_email
  .field
    = f.label :location_id
    %br/
    = f.collection_select(:location_id, Location.all(:order=>'name'), :id, :name, {:include_blank => true} )
  .field
    = f.label :location_detail
    %br/
    = f.text_field :location_detail
  .field
    = f.label :country_id
    %br/
    = f.collection_select(:country_id, Country.all(:order=>'name'), :id, :name, {:include_blank => true})
  .field
    = f.label :blood_type_id
    %br/
    = f.collection_select(:blood_type_id, BloodType.all, :id, :full, {:include_blank => true})
  .field
    = f.label :family_id, "Family (leave blank to generate new family)"
    %br/
    = f.collection_select(:family_id, Family.all, :id, :name, {:include_blank => true})
  .actions
    = f.submit


