<p id="notice"><%= notice %></p>

<p>
  <b>Last name:</b>
  <%= @person.last_name %>
</p>

<p>
  <b>First name:</b>
  <%= @person.first_name %>
</p>

<p>
  <b>Middle name:</b>
  <%= @person.middle_name %>
</p>

<p>
  <b>Phone 1:</b>
  <%= @person.phone_1 %>
</p>

<p>
  <b>Phone 2:</b>
  <%= @person.phone_2 %>
</p>

<p>
  <b>Email 1:</b>
  <%= @person.email_1 %>
</p>

<p>
  <b>Email 2:</b>
  <%= @person.email_2 %>
</p>

<p>
  <b>Location:</b>
  <%= @person.location_id %>
</p>

<p>
  <b>Location detail:</b>
  <%= @person.location_detail %>
</p>

<p>
  <b>Arrival date:</b>
  <%= @person.arrival_date %>
</p>

<p>
  <b>Departure date:</b>
  <%= @person.departure_date %>
</p>

<p>
  <b>Receive sms:</b>
  <%= @person.receive_sms %>
</p>

<p>
  <b>Receive email:</b>
  <%= @person.receive_email %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
