%p#notice= notice
%p
  %b Last name:
  = @person.last_name
%p
  %b First name:
  = @person.first_name
%p
  %b Middle name:
  = @person.middle_name
%p
  %b Phone 1:
  = @person.phone_1
%p
  %b Phone 2:
  = @person.phone_2
%p
  %b Email 1:
  = @person.email_1
%p
  %b Email 2:
  = @person.email_2
%p
  %b Location:
  = @person.location_id
%p
  %b Location detail:
  = @person.location_detail
%p
  %b Arrival date:
  = @person.arrival_date
%p
  %b Departure date:
  = @person.departure_date
%p
  %b Receive sms:
  = @person.receive_sms
%p
  %b Receive email:
  = @person.receive_email
= link_to 'Edit', edit_person_path(@person)
|
\#{link_to 'Back', people_path}
