= @content.html_safe 

= "Message #{@id}." 
- if @response_time_limit
  = "The sender has requested a confirmation #{respond_by(@response_time_limit, false)} that you have received this message. Simply" 
  = "reply to the message leaving the subject line unchanged. If the sender asked you to reply"
  = "with some information, just type that on the first line of your reply and it will be recorded."
  = "You can also confirm that you have received this message by sending '!#{@id}' as a text "
  = "message to the database number, 1-415-237-4227 (1-415-AFRICAR). Thank you."

