<p id="notice"><%= notice %></p>

<p>
  <b>Abo:</b>
  <%= @blood_type.abo %>
</p>

<p>
  <b>Rh:</b>
  <%= @blood_type.rh %>
</p>

<p>
  <b>Full:</b>
  <%= @blood_type.full %>
</p>


<%= link_to 'Edit', edit_blood_type_path(@blood_type) %> |
<%= link_to 'Back', blood_types_path %>
