- selected_notes = SystemNote.where(:show_in_sidebar => true).limit(5)
- if selected_notes.any?
  #system_note
    .header= t('latest_system_notices')
    - selected_notes.each do |note|
      .date= l note.created_at, :format => :short
      .body
        = note.note
        = "[#{note.status}]" unless note.status.blank?
    .link= link_to t('previous_system_notices'), system_notes_path
