- if signed_in? 
  %h5 
    Main Menu
  %ul.links
    %li= link_to "Edit your user info", edit_member_path(current_user)
    %li= link_to "Sign out", sign_out_path 
    - if current_user.roles_include? :member
      %li= link_to 'Members', members_path 
      %li= link_to 'Create new message', new_message_path
      %li= link_to 'System notices, bug reports, requests...', system_notes_path
    - if current_user.roles_include? :moderator
      %h5 Moderators
      %li= link_to 'Message list', messages_path
      %li= link_to 'Groups', groups_path
      %li= link_to 'Log', '/app_logs'
    - if current_user.roles_include? :administrator
      %h5 Option Tables
      %li= link_to 'Bloodtypes', bloodtypes_path 
      %li= link_to 'Cities', cities_path 
      %li= link_to 'Countries', countries_path 
      %li= link_to 'Locations', locations_path 
      %hr
      %h5 Admin tasks
      %li= link_to 'Settings (be careful!)', site_settings_path
  %hr
- else 

