- if signed_in? 
  %h5= t('Main_Menu')
  %ul.links
    %li 
      = link_to t(':english'), change_locale_to(:en)
      = link_to t(':french'), change_locale_to(:fr)
    %li= link_to t('side_menu.edit_your_user_info'), edit_member_path(current_user)
    %li= link_to t('side_menu.sign_out'), sign_out_path 
    - if current_user.roles_include? :member
      %li= link_to t('side_menu.members'), members_path 
      %li= link_to t('side_menu.create_new_message'), new_message_path
      %li= link_to t('side_menu.reports'), reports_path
      %li= link_to t('side_menu.system_notices'), system_notes_path
    - if current_user.roles_include? :moderator
      %h5= t(:Moderators)
      %li= link_to t('side_menu.message_list'), messages_path
      %li= link_to t('side_menu.groups'), groups_path
      %li= link_to t('side_menu.log'), '/app_logs'
    - if current_user.roles_include? :administrator
      %h5= t('Option_tables')
      %li= link_to t('side_menu.bloodtypes'), bloodtypes_path 
      %li= link_to t('side_menu.cities'), cities_path 
      %li= link_to t('side_menu.countries'), countries_path 
      %li= link_to t('side_menu.locations'), locations_path 
      %hr
      %h5= t('Admin_tasks')
      %li= link_to t('side_menu.settings'), site_settings_path
  %hr
- else 

