= form_for(@country) do |f|
  - if @country.errors.any?
    #error_explanation
      %h2
        = pluralize(@country.errors.count, "error")
        prohibited this country from being saved:
      %ul
        - @country.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :code
    %br/
    = f.text_field :code
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :nationality
    %br/
    = f.text_field :nationality
  .field
    = f.label :include_in_selection
    %br/
    = f.text_field :include_in_selection
  .actions
    = f.submit
