%h1 Listing countries
%table
  %tr
    %th Code
    %th Name
    %th Nationality
    %th Include in selection
    %th
    %th
    %th
  - @countries.each do |country|
    %tr
      %td= country.code
      %td= country.name
      %td= country.nationality
      %td= country.include_in_selection
      %td= link_to 'Show', country
      %td= link_to 'Edit', edit_country_path(country)
      %td= link_to 'Destroy', country, confirm: 'Are you sure?', method: :delete
%br/
= link_to 'New Country', new_country_path
