%p#notice= notice
%p
  %b Code:
  = @country.code
%p
  %b Name:
  = @country.name
%p
  %b Nationality:
  = @country.nationality
%p
  %b Include in selection:
  = @country.include_in_selection
= link_to 'Edit', edit_country_path(@country)
|
\#{link_to 'Back', countries_path}
