%h1 t(:setup_title)
%p= t(:setup_1)
%p= t(:setup_2)
= form_tag do
  = label_tag t(:first_name)
  = text_field_tag :first_name
  %br
  = label_tag t(:last_name)
  = text_field_tag :last_name
  %br
  = label_tag t(:email_address)
  = text_field_tag :email_1
  %br
  = label_tag t(:second_email_address)
  = text_field_tag :email_2
  = submit_tag(t(:OK))
  

