.active_scaffold
%h2 #{@title}
<p>Asterisk (*) means presently out of the country.</p>
%table.whereis
  %th Name
  %th Location
  %th Email
  %th Phone
  %tbody
  - @families.each do |f|
    - formatted = family_data_formatted(f)
    %tr{:class=> cycle('list_line_odd' , 'list_line_even' )}
      %td= formatted[:couple_w_status] 
      %td= "#{f.location}"
      %td= smart_join(formatted[:emails], "; ")
      %td= smart_join(formatted[:phones], "; ")

