.active_scaffold
%h2= t('.title')
%p= t('.asterisk')
%table.whereis
  %th= t(:name)
  %th= t(:location)
  %th= t(:email)
  %th= t(:phone)
  %tbody
  - @families.each do |f|
    - formatted = family_data_formatted(f)
    %tr{:class=> cycle('list_line_odd' , 'list_line_even' )}
      %td= formatted[:couple_w_status] 
      %td= "#{f.location}"
      %td= smart_join(formatted[:emails], "; ")
      %td= smart_join(formatted[:phones], "; ")

