.active_scaffold
%h2= t('.title')
%p= t('.asterisk')
%table.whereis
  %th= t :location
  %th= t :name
  %th= t :email
  %th= t :phone
  %tbody
    - location=''
    - @families.sort! do |x,y| 
      - (description_or_blank(x.location,'Zz') + x[:name]) <=> (description_or_blank(y.location,'Zz') +y[:name])
    - @families.each do |f|
      %tr{:class=> cycle('list_line_odd' , 'list_line_even' )}
        - formatted = family_data_formatted(f)
        - this_location = description_or_blank(f.location,t('.Location not listed'))
        - if location != this_location
          -  location = this_location
          %td= "#{location}"
        - else
          %td= ""
        %td= formatted[:couple_w_status] 
        %td= smart_join(formatted[:emails], "; ")
        %td= smart_join(formatted[:phones], "; ")

