%h4= t('.reports')
%h5= t('.header')
%ul
  %li#directory 
    = t '.view_in_browser'
    %ul 
      %li= link_to t('.by_family'), '/reports/directory.html?by=family', :id=>'directory-family'
      %li= link_to t('.by_location'), '/reports/directory.html?by=location', :id=>'directory-location'
  %li#directory_pdf
    = t('.printable')
    = form_tag('/reports/directory.pdf', :method => "get")  do
      .pdf_directory_form
        = render :partial => 'messages/groups'      
        .options-container
          = check_box_tag :report_sorted_by_name
          = label_tag :report_sorted_by_name, t( '.report_sorted_by_name')
          %br
          = check_box_tag :report_sorted_by_location
          = label_tag :report_sorted_by_location, t('.report_sorted_by_location')
          %br
          = text_field_tag :font_size, '10', :class => 'font_size'
          = label_tag :font_size, t('.font_size')
        = submit_tag t("download"), :id => 'download'

