%h1 Listing locations
%table
  %tr
    %th Name
    %th State
    %th City
    %th Lga
    %th Gps latitude
    %th Gps longitude
    %th
    %th
    %th
  - @locations.each do |location|
    %tr
      %td= location.name
      %td= location.state
      %td= location.city
      %td= location.lga
      %td= location.gps_latitude
      %td= location.gps_longitude
      %td= link_to 'Show', location
      %td= link_to 'Edit', edit_location_path(location)
      %td= link_to 'Destroy', location, confirm: 'Are you sure?', method: :delete
%br/
= link_to 'New Location', new_location_path
