%p#notice= notice
%p
  %b Name:
  = @location.name
%p
  %b State:
  = @location.state
%p
  %b City:
  = @location.city
%p
  %b Lga:
  = @location.lga
%p
  %b Gps latitude:
  = @location.gps_latitude
%p
  %b Gps longitude:
  = @location.gps_longitude
= link_to 'Edit', edit_location_path(@location)
|
\#{link_to 'Back', locations_path}
