!!!
%html
  %head
    %title= @title || 'Joslink'
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
%body
  #menu_toggle
    %a.show_menu
      = image_tag "arrows-4-icon.png"
      %span#show_hide= t(:hide_menu)
    #signed_in
      = signed_in? ? t('Signed in as') + ' ' + current_user.name : t("Not signed in")
    #menu
      - if signed_in?
        = render 'shared/side_menu' 
        - unless @notices.blank?
          #notices= @notices
        = render 'system_notes/last_note'
        - if @compact == 'true'
          = link_to t('click_to_show_more_columns'), params_for(:action => :index).merge(:compact => false), :id => :compact
        - elsif @compact == 'false'
          = link_to t('click_to_hide_some_columns'), params_for(:action => :index).merge(:compact => true), :id => :compact
    #content  
      - if flash.any?  
        #notice
          - flash.each do |key, value| 
            %div{:class=>"flash #{key}" }= value
      #main= yield 
    
