!!!
%html
  %head
    %title= @title || 'Joslink'
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
%body
  #menu_toggle
    %a.show_menu
      = image_tag "arrows-4-icon.png"
      %span#show_hide Hide menu
    #signed_in
      = signed_in? ? "Signed in as #{current_user.name}" : "Not signed in" 
    #menu
      = render 'shared/side_menu' 
    #content  
      - if flash.any?  
        #notice
          - flash.each do |key, value| 
            %div{:class=>"flash #{key}" }= value
      #main= yield 
    
