.view
  %h4= t('members.import.import_members')
  %p= t('members.import.description')
  = form_tag({:action => 'import'}, :multipart => true)  do 
    %p{:class=>'msg-caveat ui-corner-all'}= t('members.import.notice')
    %br
    = label "file", t('members.import.file_to_upload')
    = file_field_tag "file" 
    %br
    %br
    = submit_tag
